* {
    margin: 0px;
}


#nav1 {
    color: red;
}

h1 {
    width: calc(100%-20px);
    text-align: center;
    background-color: gray;
    color: yellow;
    padding: 10px 0 0 0;
    border: 2px dashed yellow;
    margin: 10px;
}

a {
    margin-left: 40px;
}