@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

/* Reset CSS để cho tất cả các trang website đều có kích thước giống nhau */
* {
    padding: 0px;
    margin: 0px;
    /* border: none; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: 0.5s linear;
}
/* CSS chung cho phần navigation trang chủ */
.top-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-image: linear-gradient(45deg, rgb(204, 221, 50), rgb(212, 69, 69));
    position: sticky;
    top: 0px;
    font-weight: 1000;
    z-index: 100;
}

.top-head img {
    width: 100px;
    cursor: pointer;
}

.nav-links li {
    display: inline;
    margin: auto 15px;
}

.nav-links li:hover {
    text-decoration-line: underline;
}

.fa-search:hover {
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 5px;
}

.fa-search {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.top-head a button {
    cursor: pointer;
    height: 28px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(197, 216, 113);
    font-weight: 1000;
    font-size: 1rem;
}

.top-head a button:hover {
    opacity: 0.5;
}

.img-banner {
    height: calc(100vh - 60px);
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner_img1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    background-size: cover;
}


.banner-content {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-banner a button {
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(170, 180, 28, 0);
    margin-top: 200px;
    color: white;
}

.img-banner a button:hover {
    background-color: rgb(170, 180, 28);
}

.slogan1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(255, 157, 0);
}

.slogan2 {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2rem;
    color:#ffffff;
    margin: 10px 0 40px;
    /* letter-spacing: 3px; */
    line-height: 1;
}

.slogan3, .slogan4 {
    font-weight: 1000;
    line-height: 1.5;
}

.burger {
    cursor: pointer;
    margin-left: 10%;
    display: none;
}

.burger:hover {
    opacity: 0.8;
}

.line1, .line2, .line3 {
    height: 4px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
    border-radius: 2px;
}


@media screen and (max-width:1024px) {
    .nav-links li {
        margin: 5px;
    }
}

@media screen and (max-width:650px) {
    body {
        overflow-x: hidden;
    }
    .slogan3 {
        display: none;
    }
    .slogan4 {
        display: none;
    }
    .slogan1 {
        margin-top: 200px;
    }
    .nav-links {
        position: absolute;
        width: 50vw;
        height: calc(100vh - 60px);
        top: 60px;
        right: 0px;
        background-color: rgb(219, 219, 193);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .75s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .top-head a button {
        display: none;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
}

@keyframes navLinkFade {
    form{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.list-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fbfbfb;
}

.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-product1, .list-product2 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;
}

.title-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100%;
    border-radius: 2px;
}

.product img:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.096);
    cursor: pointer;
    position: relative;
    right: 10px;
    bottom: 10px;
    transition: 1s linear;
}

.product {
    display: flex;
    background-color: #f5f5f583;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    margin: 1%;
    width: 20%;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 2px #bebebe;
}

.title_1 {
    margin-top: 50px;
    font-family: 'Bungee', cursive;
    color: rgb(250, 181, 77);
}

.title_2 {
    font-family: 'Baloo Bhaijaan 2', cursive;;
    font-weight: 1000;
    margin: 10px 0px 40px;
    font-size: 2rem;
}

.order button {
    padding: 5px 15px;
    color: white;
    background-color: #d3b673;
    border: 1px solid #d3b673;
    border-radius: 2px;
    margin: 5px;
}

.order button:hover {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}

.product p {
    margin: 15px 10px;
    min-width: 100px;
    color: rgba(0, 0, 0, 0.623);
    font-weight: 1000;
}

.price_1 {
    color: #8a7342;
    font-size: 0.95rem;
}

.price_2 {
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.over-view {
    margin: 30px 0px;
    padding: 5px 20px;
    background-color: #d3b673;
    cursor: pointer;
}

footer {
    position: relative;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.726)), url(../img/home-product/footer.png);
    background-size: cover;
    color: #f3d387ea;
}
.fot {
    position: absolute;
    bottom: 5px;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Css cho trang product */

.order_page {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Barlow', sans-serif;
}

.menu {
    height: 300px;
    width: 20%;
    /* background-color: rgb(17, 16, 16); */
    border-radius: 5px;
    box-shadow: 1px 1px 20px 2px rgba(139, 101, 101, 0.151);
}

.list_current {
    height: 400px;
    width: 40%;
    margin: 0 10px;
    /* box-shadow: 10px 10px rgba(139, 101, 101, 0.151); */
    background-color: black;
}

.book {
    height: 300px;
    width: 20%;
    box-shadow: 1px 1px 20px 2px rgba(139, 101, 101, 0.151);
}

.menu_name {
    display:flex;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    align-items: center;
    margin: 0px 10px;
    color: #3a352a;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_name_title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
}

.order_current {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: ;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* height: 50%; */
    position: relative;
}

.order_current a {
    position: absolute;
    bottom: 15px;
    background-color: #d3b673;
    margin: auto;
    /* padding: 5px 10px; */
    border-radius: 5px;
}

.order_current_name {
    position: absolute;
    top: -200px;
    background-color: #f3d387ea;
}

.book_current {
    position: absolute;
    top: -150px;
}