@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    /* border: none; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: 0.5s linear;
}


.top-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-image: linear-gradient(180deg, rgb(218, 228, 131), rgb(87, 125, 207));
    position: sticky;
    top: 0px;
    font-weight: 1000;
    z-index: 100;
}

.top-head img {
    width: 100px;
    cursor: pointer;
}

.nav-links li {
    display: inline;
    margin: auto 15px;
}

.nav-links li:hover {
    text-decoration-line: underline;
}

.fa-search:hover {
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 5px;
}

.fa-search {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.top-head a button {
    cursor: pointer;
    height: 28px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(197, 216, 113);
    font-weight: 1000;
    font-size: 1rem;
}

.top-head a button:hover {
    opacity: 0.5;
}

.img-banner {
    height: calc(100vh - 60px);
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner_img1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    background-size: cover;
}


.banner-content {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-banner a button {
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(170, 180, 28, 0);
    margin-top: 200px;
    color: white;
}

.img-banner a button:hover {
    background-color: rgb(170, 180, 28);
}

.slogan1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(255, 157, 0);
}

.slogan2 {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    font-weight: 700;
    color:white;
    margin-bottom: 30px;
}

.burger {
    cursor: pointer;
    margin-left: 10%;
    display: none;
}

.burger:hover {
    opacity: 0.8;
}

.line1, .line2, .line3 {
    height: 4px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
    border-radius: 2px;
}


@media screen and (max-width:1024px) {
    .nav-links li {
        margin: 5px;
    }
}

@media screen and (max-width:650px) {
    body {
        overflow-x: hidden;
    }
    .slogan3 {
        display: none;
    }
    .slogan4 {
        display: none;
    }
    .slogan1 {
        margin-top: 200px;
    }
    .nav-links {
        position: absolute;
        width: 50vw;
        height: calc(100vh - 60px);
        top: 60px;
        right: 0px;
        background-color: rgb(219, 219, 193);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .75s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .top-head a button {
        display: none;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
}

@keyframes navLinkFade {
    form{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.list-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-product1, .list-product2 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;
}

.title-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100%;
    border-radius: 2px;
}

.product img:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.096);
    cursor: pointer;
    position: relative;
    right: 10px;
    bottom: 10px;
    transition: 1s linear;
}

.product {
    display: flex;
    background-color: #f5f5f583;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;
    margin: 1%;
    width: 20%;
    border-bottom: 2px solid rgba(161, 145, 145, 0.267);
    box-shadow: 0px 3px rgba(245, 230, 208, 0.5);
}

.title_1 {
    font-family: 'Bungee', cursive;
    color: rgb(250, 187, 93);
}

.title_2 {
    font-weight: 1000;
    margin: 10px 0px 40px;
    font-size: 2rem;
}

.order button {
    padding: 5px 15px;
    color: white;
    background-color: #d3b673;
    border: 1px solid #d3b673;
    border-radius: 2px;
    margin: 5px;
}

.order button:hover {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}

.product p {
    margin: 15px 10px;
    min-width: 100px;
    color: rgba(0, 0, 0, 0.623);
    font-weight: 1000;
}

.price_1 {
    color: #8a7342;
    font-size: 0.95rem;
}

.price_2 {
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.over-view {
    margin: 30px 0px;
    padding: 5px 20px;
    background-color: #d3b673;
    cursor: pointer;
}

footer {
    position: relative;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.726)), url(../img/home-product/footer.png);
    background-size: cover;
    color: #f3d387ea;
}
.fot {
    position: absolute;
    bottom: 5px;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 1.5rem;
    font-weight: 700;
}